<!DOCTYPE html>
<html lang="en" class="uk-background-secondary">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.18/dist/css/uikit.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.18/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.18/dist/js/uikit-icons.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    </head>
    <body>
        <div class="uk-container uk-align-center uk-flex uk-flex-center uk-flex-middle uk-text-center" uk-height-viewport="expand: true">
            <div>
                <h1 class="uk-text-center uk-light">The session you want to access is not available !</h1>
                <br>
                <a href="{{ url_for('home') }}">Return to home</a>
            </div>
        </div>
    </body>
</html>